.App {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

li {
  margin-bottom: 5px;
}

body {
  font-family: "Roboto", serif;
  background-color: #FFF0F5;
}

#outlet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#error-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.standard-container {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

#big-at-heart-text {
  color: red;
  font-weight: 700;
  font-size: 30px;
  margin: 15px 0 15px 15px;
}

/*Header*/

header {
  width: 100%;
  height: 60px;
  background-color: #D1000A;
  display: flex;
  align-items: center;
}

#full_name_header {
  margin-left: 10px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
}

#search-bar-container {
  display: flex;
  flex-grow: 1;
}

#login-signup-button-container {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

#big-at-heart-header-text {
  margin-left: 15px;
  font-size: 34px;
  font-weight: 700;
  color: #FFF0F5;
  text-decoration: none;
}

/*ErrorText*/
.error-text {
  white-space: pre-line;
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: start;
}

/*Auth*/

.login-signup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  text-align: start;
}

#auth-container {
  width: 600px;
}

#gender-label {
  align-self: start;
}

/*ViewUserRoute*/

#view-user-container {
  display: flex;
  width: 860px;
  gap: 20px;
}

#view-user-name {
  margin-bottom: 10px;
}

#view-user-age {
  font-size: 20px;
}

#view-user-gender {
  font-size: 20px;
}

#view-user-information-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#view-user-contact-information-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

#application-text {
  font-weight: 700;
  font-size: 30px;
}

.status-text {
  font-weight: 500;
  display: inline;
}

/*Create Activity*/

#create-activity-container {
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*ActivityViewRoute*/

#activity-container {
  width: 900px;
}

#view-activity-title {
  margin: 0;
  font-size: 50px;
}

#about-this-activity {
  margin-top: 0;
  margin-bottom: 5px;
}

.posted-on-container {
  color: #8a8a8a;
  display: flex;
  font-weight: 500;
}

#activity-image {
  margin-top: 20px;
  width: 100%;
}

#activity-body {
  margin-top: 20px;
}

.about-span {
  font-weight: 500;
}

#activity-about-list {
  padding: 0 0 0 20px;
  margin: 5px 0 0 0;
}

/*ActivityAttendanceRoute*/

.attendance_status {
  font-weight: 500;
  font-size: 20px;
}

/*mainpage*/

.item-container {
  width: 900px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.item {
  flex: 0 0 auto;
  background-color: white;
  margin: 20px 5px 5px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

/*activity card*/



/*SimpleActivityCard*/

.activity-text {
  font-size: 20px;
}

.simple-activity-anchor {
  text-transform: none;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

/*Statistic*/

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.grid {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 31em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}